In [1]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df = pd.DataFrame(data=GradeList,columns=['Names','Grades','BSDegrees','MSDegrees','PHDDegrees'])
df

     Names  Grades  BSDegrees  MSDegrees  PHDDegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [3]:
df['Grades'].count()

5

In [4]:
df['Grades'].mean()

85.0

In [5]:
df['Grades'].median()

78.0

In [6]:
df['Grades'].std()

11.067971810589327

In [7]:
df['Grades'].var()

122.5

In [8]:
df['Grades'].min()

76

In [9]:
df['Grades'].max()

99

In [10]:
df['Grades'].quantile(.25)

77.0

In [11]:
df['Grades'].quantile(.5)

78.0

In [12]:
df['Grades'].quantile(.75)

95.0

In [13]:
df['BSDegrees'].count()

5

In [14]:
df['BSDegrees'].mean()

0.6

In [15]:
df['BSDegrees'].median()

1.0

In [16]:
df['BSDegrees'].std()

0.5477225575051662

In [17]:
df['BSDegrees'].var()

0.30000000000000004

In [18]:
df['BSDegrees'].min()

0

In [19]:
df['BSDegrees'].max()

1

In [20]:
df['BSDegrees'].quantile(.25)

0.0

In [21]:
df['BSDegrees'].quantile(.5)

1.0

In [22]:
df['BSDegrees'].quantile(.75)

1.0

In [23]:
df['MSDegrees'].count()

5

In [24]:
df['MSDegrees'].mean()

0.6

In [25]:
df['MSDegrees'].median()

0.0

In [26]:
df['MSDegrees'].std()

0.8944271909999157

In [27]:
df['MSDegrees'].var()

0.7999999999999998

In [28]:
df['MSDegrees'].min()

0

In [29]:
df['MSDegrees'].max()

2

In [30]:
df['MSDegrees'].quantile(.25)

0.0

In [31]:
df['MSDegrees'].quantile(.5)

0.0

In [32]:
df['MSDegrees'].quantile(.75)

1.0

In [34]:
df['PHDDegrees'].count()

5

In [35]:
df['PHDDegrees'].mean()

0.2

In [36]:
df['PHDDegrees'].median()

0.0

In [37]:
df['PHDDegrees'].std()

0.44721359549995804

In [38]:
df['PHDDegrees'].var()

0.20000000000000007

In [39]:
df['PHDDegrees'].min()

0

In [40]:
df['PHDDegrees'].max()

1

In [41]:
df['PHDDegrees'].quantile(.25)

0.0

In [42]:
df['PHDDegrees'].quantile(.5)

0.0

In [43]:
df['PHDDegrees'].quantile(.75)

0.0